--index-url https://download.pytorch.org/whl/cu128
--extra-index-url https://pypi.org/simple

mlflow>=2.0
pyyaml
cairosvg
torch==2.8.0
torchvision==0.23.0
pytorch-lightning
opencv-python
numpy
scipy
scikit-learn
pillow
torchinfo
fonttools
freetype-py